<div class="row course-content-block ideal-students">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
            <h2 class="underline-title">適合使用的對象</h2>
        </div>
        <div class="text-center normal-content">
            <p>常常替公司訂餐的你</p>

            <p>
                厭倦紙上統計塗塗改改的你
            </p>

            <p>
                不時訂錯餐被同事討厭的你
            </p>
        </div>
    </div>
</div>
