<div class="row course-content-block about-program">
    <div class="col-md-6 col-md-offset-3">
        <div class="normal-content">
            <h2 class="underline-title text-center">關於DD53 - 訂訂午餐
            </h2>
            <p>DD53取名諧音「訂訂午餐」，開發目的為了能夠改善訂午餐的不便。</p>
            <p>我們都不喜歡在紙上紀錄每一個人的訂餐項目，常常塗又改，出現訂錯餐的情況。</p>
            <p>我們也不喜歡在紙上一筆一筆計算各品項的總數，這一切都太過麻煩。</p>
            <p>
                DD53 - <strong style="text-decoration:underline;">試圖改變訂餐這件不起眼的事情。</strong>
            </p>
        </div>
    </div>
</div>
