<div class="row course-benefit course-content-block">
    <div class="col-sm-4">
        <div class="text-center">
            <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/1f96866f-goodbank-direct.png" alt="">
        </div>
        <h3 class="text-center">貼心的通知功能</h3>
        <p>不論是開啟團購的時候，或是大家一同訂完餐點時，都會直接發送Email通知、甚至可以接上商業用知名通訊軟體Slack，讓你不在錯失第一手消息，然而這樣功能不會造成你的困擾，你可以自由設定他的狀態。</p>
    </div>
    <div class="col-sm-4">
        <div class="text-center">
            <img src="      http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/3870ca1a-goodbank-lock.png" alt="">
        </div>

        <h3 class="text-center">自動統計項目及價錢</h3>
        <p>有強大的後台系統支援你的團購設定，不但可以計算總額，也同時顯示個別的份數及私人備註，讓你不在迷糊訂餐，輕鬆變成神助理。</p>
    </div>
    <div class="col-sm-4">

        <div class="text-center">
            <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/6920dffe-goodbank-low.png" alt="">
        </div>

        <h3 class="text-center">好用的「群組」功能</h3>
        <p>以Slack設計理念出發，讓你的訂餐後台不局限於一個群組，甚至可以細分部門以及跨公司點餐，自由穿梭在不同群組，只需僅僅幾秒的時間。</p>

    </div>
</div>
