<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <%= image_tag 'dd53logo.png' %>
            </a>
        </div>
        <div id="navbar2" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a href="/">首頁</a>
                </li>
                <li>
                <% if !user_signed_in? %>
                  <%= link_to '登入', "/signin"%>
                <% else %>
                    <% if current_user.teams.present? %>
                        <%= link_to root_url(:subdomain => find_last_team.domain ) do %>
                        <i class="fa fa-sign-in fa-fw"></i> <span class="network-name">前往<%= find_last_team.name %></span>
                        <% end %>
                    <% end %>
                <% end %>
                </li>
            </ul>


        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
