<section class="content-header">
  <h1>
  目前狀況
  </h1>
</section>
<section class="content">


<h2>訂單列表 </h2>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>訂購者</th>
      <th>帳號</th>
      <th>生成時間</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to(order.id, admin_order_path(order) ) %> </td>
      <td> <%= order.user.name %></td>
      <td> <%= order.user.email %></td>
      <td> <%= order.created_at.to_s(:long) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
</section>
