<div class="contianer">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag ("jackie-chan.png"), class: "img-responsive" %>
    </div>
    <div class="col-md-6">
      <%= image_tag ("yao-ming.png"), class: "img-responsive" %>
    </div>
  </div>
</div>
      <%= link_to '立刻重新點餐', ordering_event_path(@event), class: "btn btn-lg btn-success"%>
