
<div class="row">
  <div class="col-sm-8 col-sm-offset-4">

<h2> Singin </h2>

<%= form_tag switch_domain_path  do %>

  <%= text_field_tag :domain %>.aar-app.dev

  <div class="form-actions" style="padding-top:10px;">
    <%= submit_tag "Log in", :class => " btn btn-default btn-primary" %>
  </div>
<% end %>


</div>
