#error-banner {
    background-position: center center;
    background-size: cover;
    background-color: black;
    text-align: center;
    height: 540px;
    position: relative;
}

.error-title {
    color: white;
    position: relative;
    top: 360px;
}
