<section class="content-header">
  <h1>
  邀請成員
  </h1>
</section>
<section class="content">
  <%= form_tag '' do %>
    <%= label_tag :email, 'email' %>
    <%= email_field_tag :email, '', class: "form-control" %>
    <%= submit_tag '送出', class: "btn btn-primary btn-tiny" %>
  <% end %>
</section>
