<div class="nested-fields">
  <div class="form-inline">
    <b>multi</b>
    <%= f.input :description, label: '細項' %>
    <%= f.input :price, label: '價錢' %>
    <%= link_to_remove_association "刪除", f, class: "btn btn-default btn-xs" %>
  </div>
</div>
