<div class='nested-fields'>
  <div class="field">
    <%= f.input :name, input_html: { class: "form-input form-control" } %>
  </div>
  <div class="field">
    <%= f.input :price, input_html: { class: "form-input form-control" } %>
  </div>
  <%= link_to_remove_association "Remove", f, class: "btn btn-default form-button" %>
</div>
